@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --royal-navy: #002d54;
  --royal-gold: #d4af37;
  --background: var(--royal-navy);
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--royal-navy);
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
